* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input {
  display: block;
  margin: 0.5rem 0;
}

input {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

#users h2 {
  text-align: center;
  background-color: tomato;
  padding: 2rem;
  /* margin: 1rem; */
}

#users ul {
  border: 2px solid gray;
  margin-top: 0;
  min-height: 100px;
  list-style-type: none;
}

.user {
  display: flex;
  justify-content: space-around;
  border: 2px solid tomato;
  margin-bottom: 20px;
}
